{% extends "navbar.html" %}
    
        {% block head %}
        {% endblock %}
        {% block body %}
            <div class="pppp">
               <div class="whit">
                <h1> BAGS</h1>
                {% for i in bags%}
                    <br>    
                    <h1>{{i.title}}</h1>
                    <p>description: {{i.description}}</p>
                    <p>poster: <a href = "/profile/{{i.username}}">{{i.username}}</a></p> 
                    <p>contact info: {{i.contact}}</p>
                    <br>
                {% endfor %}
                </div>
            </div>
        {% endblock %}