{% extends "navbar.html" %}
    
        {% block head %}
        {% endblock %}
        {% block body %}
        <style>
        body {
            background-image: url({{ url_for('static', filename='back.jpg') }});
        }
        </style>
            <div class="pppp">
               <h1 class="whit"> CLOTHES</h1>
            </div>
            {% for i in clothes%}
                <h1 class = "whit">{{i.title}}</h1>
            
                <p class="whit"> description: {{i.description}}</p>
                
                <p class="whit">poster: <a class="whit" href = "/profile/{{i.username}}">{{i.username}}</a></p> 
          
                <p class="whit">contact info: {{i.contact}}</p>
                <p class = "pppp"><br></p>
            {% endfor %}
            </div>
        {% endblock %}

