<!DOCTYPE html>
<html>
    <head>
    	
        <title>My Final Project</title>

        <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
     	

		
    </head>
    <body class="bg">

    	<div class="writingcolor">
			<div style="height:10%;">
				<div style="margin-left: 30%; width: 30%; margin-right: 30%; ">
					<h1>title test</h1>
				</div>

			</div>
			<div style="height:45%;">
				<div style="margin-left: 15%; width: 70%; margin-right: 15%; ">
					<p>paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test paragraph test </p>
			    </div>
			</div>


        </div>

    	<div class="logininfo" class="container-fluid" style="height:45%;">
			<div>
				<h1 class="font-weight-bold mov"> LOGIN</h1>

			</div>

       		<form  class="btn btn-link" id = "sign_up_link" method = "post"> 
      
				<input type="text" name="name" placeholder="enter full name">
				<br>
				<input type="password" name="password" placeholder="enter password">
				<br>
				<button class="btn btn-light" type="submit" value="submit" >LOGIN </button>
					<a href="/signup" class="btn btn-light"> sign up</a>
	        </form>
	       
        </div>




        <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>


    </body>
    
</html>
