{% extends "navbar.html" %}
    
        {% block head %}
        <title>make a post </title>
        {% endblock %}
        {% block body %}
        <div class="bg">
			<div class="makepost">
			<h1 class="font-weight-bold whit">what did you  find?</h1>
			<form method="post">
				<div class="form-group">
					<label for="title">Post Title: </label>
					<input id="title" class="form-control" type="text" name="title" placeholder="title for your post ">
				  </div>

				<input type="textarea" name="describe" placeholder="tell your story">
				<br>
				<input type="hidden" name="contact_info" value="66666666666">
				<input type="text" name="username" placeholder="username">
				<input checked type="hidden" name="category" value="phones">
				<br>

			<form action = "/makepost">
        <button class="btn btn-outline-dark" type="submit" value="submit">submit </button>
		</form>
	</div>

	</div>
        {% endblock %}