{% extends "navbar.html" %}

        {% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        {% endblock %}
        {% block body %}
<body style="background-repeat: repeat">
            <div class="col-md-6" style="left:25%">
           
                <h1 class="whit"> Posts </h1>

            {% for i in phones%}
              <h1 class="whit">{{i.title}}</h1>
            
                <p class="whit"> story: {{i.description}}</p>
                
                <p class="whit">aouther: <a class="whit" href = "/profile/{{i.username}}">{{i.username}}</a></p>
            {% endfor %}
            </div>
        {% endblock %}
</body>
