{% extends "navbar.html" %}

        {% block head %}
        {% endblock %}
        {% block body %}
            <div class="">
           
                <h1 class="whit"> Posts </h1>

            {% for i in phones%}
              <h1 class="whit">{{i.title}}</h1>
            
                <p class="whit"> story: {{i.description}}</p>
                
                <p class="whit">aouther: <a class="whit" href = "/profile/{{i.username}}">{{i.username}}</a></p>
            {% endfor %}
            </div>
        {% endblock %}
        