{% extends "navbar.html" %}
    
        {% block head %}
        <title>{{user.name}}'s profile</title>
        {% endblock %}
        {% block body %}
        <style>
        body {
            background-image: url({{ url_for('static', filename='back2.jpeg') }});
        }
        </style> 
        <div class = "bg profilecss">
        <h1 class="font-weight-bold whit">{{user.name}}</h1>

		<p class="whit"> your points:{{user.points}}</p>


		
		<form action = "/categories/phones">

            <button type="submit" class="btn btn-info">View Stories</button>
		</form>
		<form action = "/post">
			<button type="submit" class="btn btn-info">Share Your Story!</button>

		</form>
		</div>
        {% endblock %}
<!-- 
<style>
        body {
            background-image: url({{ url_for('static', filename='back.jpg') }});
        }
        </style> -->