<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <body class="bg">
        <form>
            <div class="thanks">
                <h1 class="font-weight-bold whit" >Thank you!!</h1>
            </div>
            <div class="home">

                    <!-- <button class="btn btn-outline-dark" type="submit" value="submit" >Lost and Found </button>
                 <button class="btn btn-outline-dark" type="submit" value="submit" >Profile </button> -->
                   <a class="badg badge-info", href="{{url_for('noor') }}">
                        Lost and Found</a>
                    <!-- <a class="badge badge-primary", href="{{url_for('profile_page', username = username) }}">
                        Profile Page</a>   -->

    </body>
            <script src="{{ url_for('static', filename='jquery.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>

</html>